<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz App</title>
</head>

<body>
  <div class="container">
    <div class="quiz_card" *ngIf="currentQuestionIndex < quizData?.length">
      <h2>Simple Quiz</h2>
      <hr>
      <h5>{{ quizData[currentQuestionIndex]?.question }}</h5>
      <div *ngFor="let j of quizData[currentQuestionIndex].answers">
        <button (click)="sendAns(j?.correct)">{{j?.text}}</button>
      </div>
    </div>
    <div class="animated-text">
      <h2 [ngStyle]="{ 'color': colorCode }">{{showData }}</h2>
    </div>
    <div class="next-btn">
      <button (click)="nextQues()" *ngIf="quizData?.length ?true:false">Next</button>

    </div>
    <div *ngIf="currentQuestionIndex >= quizData?.length">
      <p >Quiz Completed!</p>
    </div>
  </div>
</body>

</html>